body{
    font-family: 'Noto Serif', serif;
    margin: 0;
}

.full-body{
    margin: 0 10%;
}

/* firt-section */


.full-div{
    display: flex;
}
.half-div{
    width: 50%;
}
.half-div-desc{
    margin: 170px 0 0 0;
}
.header{
    border-image: linear-gradient(red,orange);
    border-left: 5px solid;
    border-image-slice: 1;

}
.header h1{
    padding-left: 20px;
    font-size: 65px;
    margin: 0 ;
}
.header h2{
    padding-left: 20px;
    font-size: 60px;
    color: orange;
    margin: 0;

}
.half-div p{
    font-size: 20px;
    width: 80%;
}
.half-div img{
    width: 65%;
    margin-top: 80px;
    float: right;

}
.button{
    text-decoration: none;
    font-size: 20px;
    color:white;
    background-color: tomato;
    padding:10px 30px;
    border-radius: 5px;
}

/* card section */


.card-section h1 {
    font-size: 60px;
    margin-bottom: 80px;
    text-align: center;
}

.card-div{
    align-items: auto;
    display: flex;
    margin: 0 auto;
}
.card{
    width: 25%;
    height: 400px;
    padding: 40px;
    border-radius: 10%;
}
.card img{
    width: 60%;
}
.first-card{
    background-color: rgba(92, 241, 241, 0.1);
}
.mid-card{
    margin:0% 3%;
    background-color: rgb(245, 140, 121, 10%);
}
.last-card{
    background-color: rgba(122, 151, 248, 0.1);
}
.card h3{
    font-size: 30px;
}
.card p{
    font-size: 20px;
}

/* 3rd & 4th & 5th section */

.section-padd{
    padding-top: 150px;
}
.desc-div{
    display: flex;
    margin: 0 auto;
}
.half-desc-div{
    width: 50%;
}
.half-desc-div img{
    width: 80%;
    border-radius: 7%;
}
.half-desc-div-desc p{
    font-size: 20px;
    margin-bottom: 5%;
}
.half-desc-div-desc h1{
    font-size: 60px;
    margin-bottom: 2%;
}
.global-img{
    float: right;
}
.half-two h1{
    margin-top: 40px;
}

/* footer section */

#footer-section{
    background-color: rgb(31, 29, 29);
    text-align: center;
    color: white;
}
.footer-div{
    padding: 20px;
}
.footer-div h1{
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}
#year{
    color: tomato;
}
.footer-div p{
    font-size: 20px ;
}